#iframeGame2{
    position: absolute;
    width: 1000px;
    height: 700px;
    display: none;
}
#canvasSnake{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border: black solid 1px;
}