.item {
    position: relative;
    z-index: 99;
}
.lamp {
    position: absolute;
    top: 0px;
    width: 100px;
    height: 100px;
    padding-bottom: 0px;
    border-radius: 50%;
}
.item img{
    -webkit-user-drag: none;
    position: relative;
    top: -15px;
}

.light-on {
    background-color: rgba(0, 0, 0, 0.5);
}

.lamp.on {

    box-shadow: 0 0 50px #fff, 0 0 100px #fff, 0 0 150px #fff, 0 0 200px #f0f;
}

.lamp {
    margin: auto;
    /* transition: box-shadow 0.5s ease-in-out; */
}
body{
    user-select: none;
}