#pageOfFortune {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000px;
    height: 700px;
    background-color: cornflowerblue;
    display: none;
}

#backToPlay {
    position: absolute;
    top: 30px;
    left: 910px;
    width: 60px;
    height: 60px;
    border-radius: 10%;
    color: green;
    background-color: transparent;
    border: green solid 2px;
}

#spinWheel {
    position: absolute;
    top: 570px;
    left: 330px;
    width: 40px;
    height: 40px;
    background-image: url(../img/arrowUp.png);
}

#textWithBonus {
    position: absolute;
    top: 270px;
    left: 700px;
    width: 200px;
    height: 60px;
    font-size: 40px;
    color: beige;
    font-weight: bold;
    display: none;
}

#imageBonus {
    position: absolute;
    top: 350px;
    left: 770px;
    width: 60px;
    height: 60px;
    background-size: 100% 100%;
    display: none;
}

#bow {
    position: absolute;
    top: 550px;
    left: 410px;
    width: 40px;
    height: 44px;
    background-image: url(../img/bow.png);
}
