#pageOfFortune {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000px;
    height: 700px;
    background-color: cornflowerblue;
    display: none;
}

#backToPlay {
    position: absolute;
    top: 30px;
    left: 910px;
    width: 60px;
    height: 60px;
    border-radius: 10%;
    color: green;
    background-color: transparent;
    border: green solid 2px;
}

#spinWheel {
    position: absolute;
    top: 570px;
    left: 330px;
    width: 40px;
    height: 40px;
    background-image: url(../img/arrowUp.png);
}

#textWithBonus {
    position: absolute;
    top: 270px;
    left: 700px;
    width: 200px;
    height: 60px;
    font-size: 40px;
    color: beige;
    font-weight: bold;
    display: none;
}

#imageBonus {
    position: absolute;
    top: 350px;
    left: 770px;
    width: 60px;
    height: 60px;
    background-size: 100% 100%;
    display: none;
}

#bow {
    position: absolute;
    top: 550px;
    left: 410px;
    width: 40px;
    height: 44px;
    background-image: url(../img/bow.png);
}

#toTravelAndMarket {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000px;
    height: 700px;
    background-color: #ffffffcc;
    display: none;
}

.secondaryButtons {
    width: 50px;
    height: 50px;
    position: absolute;
    color: beige;
    background-color: #6495edbb;
    border: beige solid 2px;
    border-radius: 50%;
}

#secondaryButton1 {
    top: 110px;
    left: 850px;
    background-color: #ffff00bb;
}

#secondaryButton2 {
    top: 70px;
    left: 775px;
    background-color: #ffff00bb;
}

#secondaryButton3 {
    top: 110px;
    left: 710px;
}

.secondaryButtonsText {
    width: 120px;
    height: 25px;
    position: absolute;
    color: beige;
    background-color: #ff000088;
    border: beige solid 2px;
    border-radius: 15%;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
}

#secondaryText1 {
    top: 157px;
    left: 810px;
}

#secondaryText2 {
    top: 38px;
    left: 735px;
}

#secondaryText3 {
    top: 157px;
    left: 670px;
}

#marketBackToPlayroom {
    top: 70px;
    background-color: #6495ed99;
}

#marketIconBack {
    position: relative;
    top: 3px;
}

#lineWithList1 {
    position: absolute;
    top: 94px;
    left: 891px;
}

#lineWithList2 {
    position: absolute;
    top: 104px;
    left: 823px;
}

#lineWithList3 {
    position: absolute;
    top: 90px;
    left: 748px;
}

#toolsIcon {
    position: relative;
    top: 2px;
    left: -2px;
}

#shirtIcon {
    position: relative;
    top: -2px;
    left: -2px;
}

#travelIcon {
    position: relative;
    top: 0px;
    left: -3px;
}

#airTravel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000px;
    height: 700px;
    background-image: linear-gradient(45deg, cornflowerblue 0%, green 50%, darkred 100%);
    display: none;
}

#buttonsCollectionInTravel {
    position: absolute;
    top: 200px;
    left: 800px;
    width: 150px;
    height: 300px;
}

.allCollectionButtonInTravel {
    width: 150px;
    height: 40px;
    margin-bottom: 60px;
    border: 1px solid darkred;
    border-radius: 10%;
    background-color: #6495ed;
    text-align: center;
    font-size: 20px;
    color: beige;
    font-weight: bolder;
}

#divTravelCollection {
    background-color: orange;
    width: 150px;
    height: 36px;
    padding-top: 4px;
}

#headerTravel {
    width: 1000px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50px;
    font-size: 40px;
    color: blue;
    background-image: linear-gradient(45deg, darkred 0%, orange 50%, yellow 100%);
}

#backToTravelMenu {
    position: absolute;
    left: 930px;
    top: 3px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-radius: 10%;
}

#nameAndFlagOfCountries {
    position: absolute;
    width: 160px;
    height: 75px;
    left: 290px;
    top: 290px;
    display: none;
}

#point_country {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: darkblue;
    margin-left: 75px;
    margin-bottom: 5px;
    left: 100px;
    right: 100px;
}

#name_country {
    height: 25px;
    width: 158px;
    border-radius: 15%;
    border: 1px solid gold;
    background-color: #00000055;
    text-align: center;
    color: gold;
    font-size: 20px;
    padding-top: 4px;
    margin-bottom: 3px;
}

#flag_icon {
    height: 32px;
    width: 48px;
    margin-left: 56px;
    background-size: 100% 100%;
}

#greatPhotoAlbum {
    position: absolute;
    width: 1000px;
    height: 700px;
    background-image: linear-gradient(45deg, darkred 0%, blue 50%, violet 100%);
    display: none;
}

#bigPhotoInAlbum {
    position: absolute;
    top: 0px;
    width: 1000px;
    height: 700px;
    display: none;
    background-size: 100% 100%;
}

#realAlbum {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 840px;
    height: 640px;
    background-image: url(../img/travel/photoAlbum.jpg);
    transform: rotateZ(-3deg);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}

.photosInTravel {
    width: 152px;
    height: 107px;
    border: 1px solid darkred;
    background-size: 100% 100%;
}

#backToGlobeSpin {
    position: absolute;
    top: 20px;
    left: 940px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: orange;
    font-size: 40px;
}

.notCrystals {
    position: absolute;
    top: 250px;
    left: 700px;
    width: 95px;
    height: 140px;
    border: 1px solid red;
    background-color: beige;
    color: red;
    font-size: 30px;
    text-align: center;
}