html, body {
    width: 1000px;
    height: 700px;
    margin: 0;
    font-size: 0;
    overflow: hidden;
    position: relative;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../img/playroom.png);
    background-size: 100% 100%;
}

canvas {
    position: absolute;
    z-index: 0;
}

#left_leg {
    position: absolute;
    width: 40px;
    height: 120px;
    left: 390px;
    top: 480px;
}

#right_leg {
    position: absolute;
    width: 40px;
    height: 120px;
    left: 470px;
    top: 480px;
}

#right_hand {
    position: absolute;
    width: 30px;
    height: 145px;
    left: 550px;
    top: 410px;
    transform: rotateZ(-10deg);
}

#left_hand {
    position: absolute;
    width: 30px;
    height: 145px;
    left: 330px;
    top: 410px;
    transform: rotateZ(10deg);
}

#belly {
    position: absolute;
    width: 190px;
    height: 70px;
    left: 360px;
    top: 410px;
}

#left_eyes {
    position: absolute;
    width: 117px;
    height: 125px;
    left: 335px;
    top: 160px;
}

#right_eyes {
    position: absolute;
    width: 117px;
    height: 125px;
    left: 452px;
    top: 160px;
}

#jaw {
    position: absolute;
    width: 220px;
    height: 130px;
    left: 340px;
    top: 285px;
}

#canvas3 {
    left: 100px;
    top: 180px;
}

#pinataReaction {
    position: absolute;
    left: 115px;
    top: 245px;
    width: 170px;
    height: 180px;
}

#pinataPrize {
    position: absolute;
    padding-top: 5px;
    left: 115px;
    top: 300px;
    width: 170px;
    height: 100px;
    border: gold 1px solid;
    border-radius: 20%;
    color: gold;
    background-color: #00008b77;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    display: none;
}

.buttonMenu {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 920px;
    color: beige;
    background-color: transparent;
    border: beige solid 2px;
    border-radius: 50%;
    z-index: 99;
}

.toMarket {
    position: absolute;
    top: 50px;
    left: 920px;
    z-index: 100;
}

#toPlayroom {
    top: 150px;
}

#toKitchen {
    top: 250px;
}

#toBathroom {
    top: 350px;
}

#toBedroom {
    top: 450px;
}

#toMiniGame {
    top: 110px;
    left: 850px;
    z-index: 99;
}

#lineWithList {
    position: absolute;
    top: 146px;
    left: 895px;
    z-index: 100;
}

#marketIcon {
    position: relative;
    top: 3px;
    z-index: 100;
}

#consoleIcon {
    position: relative;
    top: -6px;
    left: -8px;
    z-index: 100;
}

#playroomIcon {
    position: relative;
    top: -4px;
    left: -7px;
    z-index: 100;
}

#kitchenIcon {
    position: relative;
    left: -2px;
}

#bedroomIcon {
    position: relative;
    top: -3px;
}

#giftReaction {
    width: 120px;
    height: 80px;
    position: absolute;
    top: 470px;
    left: 640px;
}

.countAchievements {
    width: 180px;
    height: 40px;
    position: absolute;
    top: 50px;
    left: 250px;
    border: 1px solid darkred;
    border-radius: 30%;
    background-color: #6495ed55;
    text-align: center;
    font-size: 30px;
    color: beige;
    z-index: 99;
}

#countCrystal {
    left: 470px;
}

.coinsAndCrystal {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40px;
    left: 400px;
    z-index: 99;
}

#crystalTable {
    left: 620px;
}

#kitchen{
    display: none;
}

#washcloth {
    width: 110px;
    height: 90px;
    position: absolute;
    top: 495px;
    left: 760px;
    background-image: url(../img/bathroom/mocha.png);
    display: none;
}

#showerUp {
    width: 25px;
    height: 47px;
    position: absolute;
    top: 0px;
    left: 435px;
    /*display: none;*/
}

#showerDown {
    width: 160px;
    height: 35px;
    position: absolute;
    top: 45px;
    left: 365px;
    /*display: none;*/
}